In [11]:
city_1 = ('London', 'UK', 8.98)

In [12]:
city_2 = ('Canberra', 'Australia', 0.4)

In [13]:
city_3 = ('Algiers', 'Algeria', 3.9)

In [14]:
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australia', 0.4), ('Algiers', 'Algeria', 3.9)]

In [15]:
for capital in capitals:
    print('Name:', capital[0], ', Country:', capital[1], ', Population:', capital[2])

Name: London , Country: UK , Population: 8.98
Name: Canberra , Country: Australia , Population: 0.4
Name: Algiers , Country: Algeria , Population: 3.9

In [19]:
user_data = ('John', 'American', 1964, [77.0, 78.2, 77.5])

In [21]:
user_data[3].append(79.6)

In [22]:
print(user_data)

('John', 'American', 1964, [77.0, 78.2, 77.5, 79.6])

In [1]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

to_rome_connections = 0
to_rome_connections_time_sum = 0
for connection in connections:
    if connection[1] == 'Rome':
        to_rome_connections += 1
        to_rome_connections_time_sum += connection[2]
        
print(to_rome_connections, 'connections lead to Rome with an average flight time of', to_rome_connections_time_sum / to_rome_connections ,'minutes')

5 connections lead to Rome with an average flight time of 161.0 minutes